.item {
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  align-items: center;

  width: 150px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0px #00000033, 2px 2px 1px 0px #00000024,
    2px 2px 3px 2px #0000001f;
}

.statusOn {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-color: rgb(27, 194, 27);
  border-radius: 50%;
}

.statusOff {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-color: rgb(167, 45, 45);
  border-radius: 50%;
}

.avatar {
  margin-right: 10px;
}
