.table {
  margin-top: 20px;
  margin-left: 50px;
  border: transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 0px #00000033, 2px 2px 1px 0px #00000024,
    2px 2px 3px 2px #0000001f;
}

.title {
  background-color: lightblue;
}
